<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	
	<context:annotation-config />
	<context:component-scan base-package="com.run.spring.dao" />
	
	<bean id="sqlExecutor" class="com.run.spring.page.PaginationSqlExecutor">
		<property name="dialect">
			<bean class="com.run.spring.page.MysqlDialect"></bean>
		</property>
	</bean>
	
	<bean name="sqlMapClientTemplate" class="com.run.spring.page.IbatisTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	
	<bean name="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:ibatis/sql-map-config.xml</value>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
    <!-- <bean id="parentDao" abstract="true">
    	<property name="sqlMapClient" ref="sqlMapClient"></property>
    	<property name="sqlExecutor" ref="sqlExecutor"></property>
    </bean>
    <bean id="gradeInfoDAO" class="com.run.spring.dao.GradeInfoDAOImpl" parent="parentDao">
    
    </bean>
    <bean id="testChildDAO" class="com.run.spring.dao.TestChildDAOImpl" parent="parentDao">
    
    </bean> -->
</beans>